.heading-div {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: rgb(18, 81, 122);
}

#main {
    background-color: #61A4BC;
    height: 800px;
 }
 
 #form {
     position: absolute;
     top: 45%;
     width: 400px;  
 }
 
 .title {
     margin: 5px;
     color: #B590CA;
     font-size: 50px;
     font-family: Impact, fantasy;
 }
 