
.sub-main-div {
    width: 360px;
    padding: 3% 0 0;
    margin: auto;
  }
  
  .form-div {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
  }
  
  .form-div input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-button, .form-div button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(0, 153, 255);
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  .form-button:hover, .form-div button:hover,
  .form-button:active, .form-div button:active,
  .form-button:focus, .form-div button:focus {
    background: rgb(1, 120, 199);;
  }
  
  .form-button:disabled, .form-div button:disabled {
      background: rgb(171, 206, 230);
      cursor: default;
    }
    
  .form-div .message {
    margin: 15px 0 0;
    font-size: 20px;
  }
  
  .form-div .message a {
    color: rgb(0, 153, 255);
    text-decoration: none;
  }

.success-fail-msg {
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#success-fail-msg {
  margin: 10% 20%;
  align-items: center;
  font-size: 25px;
}

.success-msg {
    color: green;
    background-color: rgb(210, 248, 209);
}

.failure-msg {
    color: red;
    background-color: rgb(247, 208, 208);
}
  
  