<div *ngIf="(selectedQuiz$ | async) as selectedQuiz">
  <div class="title-div">
    <h1>
      {{selectedQuiz.title}}
    </h1>
  </div>
  <div class="container-div">
      <div class="left-div">
        <button (click)="startQuiz(selectedQuiz)" class="form-button" id="round-colorful-btn">
          Start
        </button>
        <br>
        <button (click) = "deleteQuiz(selectedQuiz)" 
  class="form-button"
        id="round-colorful-btn">
  Delete</button>  
        
      </div>
      <div class="right-div">
        <div id="right-div-title">
          <p id="text-bold">Total Questions({{quesLength}})
          <span id="span-padding">
            <button (click)="toggleDiv()" class="toggle-btn">{{buttonText}}</button>
          </span>
        </p>
        </div>
        <div *ngFor="let question of selectedQuiz.questions; let i = index;" class="ques-div">
          <h3 id="text-ques">
            Ques {{i+1}}: {{question.question_title}}
          </h3>
          <div *ngFor="let answer of question.answers; let i = index;"
            [ngStyle] = "{'display' : isShown? 'block' : 'none'}">
            <p id="text-option">
              {{i+1}}. {{answer.option}}
              <span id="text-correct" 
              [ngStyle] = "{'background-color': answer.correct ? '#588c46' : '#d54848' }">
                {{answer.correct}}
              </span>
            </p>
              <hr>
              </div>
        </div>
      </div>
      
      
  </div>
  
</div>

