<div class="container-div">
    <img src="../../../assets/images/background2.jpeg" alt="kahoot background">
    <div class="instructions-div">
        <p id="headline">How to play:</p>
            <p><span id="headline">1.</span> To start QUIZ, You must Login or Signup(if a new user)</p>
            <p><span id="headline">2.</span> Click on QUIZ LIST</p>
            <p><span id="headline">3.</span> Choose a Quiz, Click Start</p>
            <p><span id="headline">4.</span> View Quiz, and Click START</p>
            <p><span id="headline">5.</span> Now, you are the HOST, and a game pin generates</p>
            <p><span id="headline">6.</span> To Play Kahoot, click PLAY link on menu</p>
            <p><span id="headline">7.</span> To create your own Kahoot quiz, you must be login and  click CREATE QUIZ</p>
    </div>

</div>
