<div class="main-div">
  <div class="sub-main-div">
    <div class="form-div">
      <form [formGroup]="addUser">
        <input type="text" placeholder="UserName" formControlName="username" />
        <input type="number" placeholder="Age" formControlName="age" />
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />

        <button
          type="submit"
          class="submit-button"
          [disabled]="addUser.invalid"
        >
          Sign Up
        </button>
        <p class="message">
          Already registered? <a routerLink="/login">SignIn</a>
        </p>
      </form>
    </div>
  </div>
</div>
