* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

article.gallery {
    text-align: center;
}

.quiz-parent-div {
    height: 100%;
    position: relative;
    margin: 40px 10px 0 10px;
    display: inline-block;
    min-width: 300px;
    min-height: 200px;
    background: white;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width: 300px;
}

.quiz-parent-div:hover {
    background: rgb(192, 198, 200);
    cursor: pointer;
}
