<div class="main-div">
    <div class="sub-main-div">
        <div class="form-div">
          <h2>Log in</h2>
          <label *ngIf = "loginFailMsg$ | async as loginFailure">
            <p class="success-fail-msg failure-msg">{{ loginFailure}}</p>
          </label>
            <form [formGroup]="loginForm">
                <input type="text" placeholder="Enter Username" formControlName="username" />
                <input type="password" placeholder="Enter Password" formControlName="password" />
                <button type="submit" class="submit-button" [disabled]="loginForm.invalid"
                (click)="login()"> Log In </button>
                <p class="message"> Need an Account? <a routerLink="/signup">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
