<div *ngIf="submitted" id="success-fail-msg">
  <p class="success-fail-msg success-msg">
    Answer Submitted Successfully!
    <br /><br />
    Waiting for everyone to answer...
  </p>
</div>

<div *ngIf="!submitted">
  <div *ngIf="data$ | async as data">
    <div *ngIf="data.questionProperties.questionNumber == -1">
      <p class="success-fail-msg failure-msg">No More Questions.</p>
    </div>
    <label id="text-big">
      Question {{ data.questionProperties.questionNumber }} Of
      {{ data.questionProperties.totalLength }}
    </label>
    <div
      *ngIf="data.question as question"
      class="form-div"
      style="margin-top: 20px"
    >
      <label id="qlabel">
        {{ question?.question_title }}
      </label>
      <div
        *ngFor="let Qanswer of question?.answers; let i = index"
        class="radio-button-div"
      >
        <label class="radio" id="op{{ i + 1 }}">
          <input
            type="radio"
            value="{{ Qanswer.option }}"
            [(ngModel)]="answer"
          />
          {{ Qanswer.option }}
        </label>
      </div>
      <div>
        <h3>Your answer:</h3>
        <span style="color: green; font-size: 25px">{{ answer }}</span>
      </div>

      <br />
      <button (click)="submitAnswer()">SUBMIT ANSWER</button>
    </div>
  </div>
</div>
